[submodule "zer0def-charts"]
	path = zer0def-charts
	url = https://github.com/zer0def/charts
	branch = kube-dev
[submodule "istio"]
	path = istio
	url = https://github.com/istio/istio
	branch = release-1.5
