[submodule "kubedee"]
	path = kubedee
	url = https://github.com/zer0def/kubedee
[submodule "istio"]
	path = charts/istio
	url = https://github.com/istio/istio
[submodule "docker-registry-proxy"]
	path = images/docker-registry-proxy
	url = https://github.com/rpardini/docker-registry-proxy
[submodule "openstack-helm-images"]
	path = images/openstack-helm-images
	url = https://github.com/zer0def/openstack-helm-images
[submodule "openstack-helm-infra"]
	path = charts/openstack-helm-infra
	url = https://github.com/zer0def/openstack-helm-infra
[submodule "openstack-helm"]
	path = charts/openstack-helm
	url = https://github.com/zer0def/openstack-helm
[submodule "loci"]
	path = images/loci
	url = https://github.com/zer0def/loci
[submodule "docker-powerdns"]
	path = images/powerdns
	url = https://github.com/NaPs/docker-powerdns
[submodule "sentry"]
	path = charts/sentry
	url = https://github.com/zer0def/sentry-charts
[submodule "cortex"]
	path = charts/cortex
	url = https://github.com/zer0def/cortex-chart
[submodule "scylla"]
	path = charts/scylla
	url = https://github.com/zer0def/scylla-operator
[submodule "seaweedfs"]
	path = charts/seaweedfs
	url = https://github.com/zer0def/seaweedfs
[submodule "kube-httpcache"]
	path = charts/kube-httpcache
	url = https://github.com/mittwald/kube-httpcache
[submodule "zer0def-charts"]
	path = charts/zer0def
	url = https://github.com/zer0def/charts
[submodule "rclone"]
	path = rclone
	url = https://github.com/wunderio/csi-rclone
[submodule "charts/sapcc"]
	url = https://github.com/sapcc/helm-charts
[submodule "kiali"]
	path = charts/kiali
	url = https://github.com/kiali/helm-charts
[submodule "charts/zulip"]
	path = charts/zulip
	url = https://github.com/zer0def/oci-zulip
[submodule "charts/draino"]
	path = charts/draino
	url = https://github.com/planetlabs/draino
[submodule "charts/karma"]
	path = charts/karma
	url = https://github.com/ibelikov/helm-karma
[submodule "charts/autoscaler"]
	path = charts/autoscaler
	url = https://github.com/kubernetes/autoscaler
[submodule "shell-operator"]
	path = shell-operator
	url = https://github.com/flant/shell-operator
